.idea
Server/obj
ConsoleClient/bin
ConsoleClient/obj
!ConsoleClient/bin/Debug/netcoreapp2.0/project.json
!ConsoleClient/bin/Debug/netcoreapp2.0/buildConfigs/dev_build.json
!ConsoleClient/bin/Debug/netcoreapp2.0/buildConfigs/dev_build_upload.json
.vs/
Server/bin/
ConsoleClient/stats.xml
ConsoleClient/Properties/launchSettings.json
ConsoleClient/log.txt
